/*CONFIG AND GENERAL STYLE*/
@import "sass/config.scss";
@import "sass/general.scss";
@import "sass/helpers.scss";
@import "sass/typography.scss";

/*HEADER*/
@import "sass/navbar.scss"; 
@import "sass/dropdown-menu.scss";
@import "sass/profile-menu.scss";
@import "sass/page-head.scss";
@import "sass/page-aside.scss";

/*BODY*/
@import "sass/main-container.scss";
@import "sass/sidebar.scss";
@import "sass/block-panels.scss";
@import "sass/forms.scss";

/*PAGES*/
@import "sass/login.scss";
@import "sass/sign-up.scss";
@import "sass/404.scss";
@import "sass/gallery.scss";
@import "sass/page-email.scss";
@import "sass/page-profile.scss";
@import "sass/page-search.scss";
@import "sass/page-code-editor.scss";

/*ELEMENTS*/
@import "sass/elements/tables.scss";
@import "sass/elements/tiles.scss";
@import "sass/elements/charts.scss";
@import "sass/elements/color-boxes.scss";
@import "sass/elements/widgets.scss";
@import "sass/elements/date-picker.scss";
@import "sass/elements/wizard.scss";
@import "sass/elements/tabs.scss";
@import "sass/elements/accordions.scss";
@import "sass/elements/nestable-lists.scss";
@import "sass/elements/switch.scss";
@import "sass/elements/select2.scss";
@import "sass/elements/slider.scss";
@import "sass/elements/chat-widget.scss";
@import "sass/elements/alerts.scss";
@import "sass/elements/labels_badges.scss";
@import "sass/elements/progress.scss";
@import "sass/elements/pagination.scss";
@import "sass/elements/lists.scss";
@import "sass/elements/icons.scss";
@import "sass/elements/buttons.scss";
@import "sass/elements/modals.scss";
@import "sass/elements/circle.scss";
@import "sass/elements/gritter.scss";
@import "sass/elements/nano-scroll.scss";
@import "sass/elements/treeview.scss";
@import "sass/elements/timeline.scss";
@import "sass/elements/validation.scss";
@import "sass/elements/tickets-widget.scss";
@import "sass/elements/todo-widget.scss";
@import "sass/elements/full-calendar.scss";
@import "sass/elements/multiselect.scss";

/*RESPONSIVE*/
@import "sass/responsive.scss";

/*ESTILOS ADICIONADOS*/
@import "sass/profile-candidato.scss"