@import 'config';
@import 'flex';
@import "compass/css3/images";

/* Geral */
.info {
  padding: 0.4em 0.2em;

  .title{
    font-weight: 600;
    font-size: 1.1em;
    color: #30b786;
  }

}

.numero-candidato{
  color: $verde-claro;
  font-weight: 700;
}

.lista-partidos, .lista-formacao {
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    margin-bottom: 0.5em;
    line-height: 45px;
  }

  li:first-child{
    margin-top: 0.3em;
  }

  .logo-partido {
    height: 45px;
    margin-right: 0.6em;
  }

}

/* Informacoes pessoais */
.profile-wrapper{

  .lista-formacao li{
    line-height: 21px;
    margin-bottom: 0.9em;

    .formacao-local{
      font-weight: 600;
    }

    img{
      float: left;
    }
    p{
      margin-bottom: 0;
    }
  }

  .redes-sociais {
    list-style: none;
    padding-left: 0;
    padding: 0.3em 0 0;
  }

  .link-rede-social i {
    font-size: 22px;
    padding-right: 5px;
  }

  [class*="fa-facebook"]{
    color: $azul-facebook;
  }

  [class*="fa-twitter"]{
    color: $azul-twitter;
  }

  [class*="fa-google-plus"]{
    color: $vermelho-plus;
  }
}

/* Propostas */

.bloco-proposta {
  padding: 20px;
}

.bloco-botoes-votacao {
  padding: 20px;
}

.bloco-botoes-votacao button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.bloco-botoes-votacao div {
  padding: 5px;
}

/* Partido */
.politics{

  .politic-logo{
    text-align: center;
    
    img{
      max-width: 150px;
      margin-bottom: 1em;
    }
  }

}

.block-flat.clearfix{
  position: relative;
}

// .show-more{
//   height: 75px;
//   width: 96%;
//   bottom: 0;
//   z-index: 1;
//   position: absolute;
//   @include background-with-css2-fallback(linear-gradient(rgba(0,0,0,0) 0%, #fff 50%));
//   text-align: center;
//   font-size: 40px;
//   padding-top: 35px;
//   color: #E2E2E2;
//   display: none;
// }

.show-more{
  text-align: center;
  font-size: 40px;
  color: #E2E2E2;
  display: none;
}

/* Resolucao para telefones */
@media (max-width: 768px) {

  .three-column-grid{
    @include flex-direction(column);
  }

  .bloco-botoes-votacao {
    padding: 0;
  }

  .bloco-botoes-votacao .btn-success{
    float: right;
  }

  .bloco-proposta {
    padding-bottom: 20px;
  }

  .profile-wrapper .block-content,
  .politics .block-content{
    height: 420px;
  }

}

/* Resolucao para tablets e telefones */
@media (max-width: 1024px){

  .three-column-grid{
    @include flexbox;

    .profile-wrapper{
      @include order(1);
    }

    .proposals{
      @include order(3);
    }

    .politics{
      @include order(2);
    }

  }
  
  .profile-wrapper .block-content,
  .politics .block-content{
    overflow-y: hidden;
  }

  .show-more{
    display: block;
  }
}

/* Resolucao so para tablets */
@media (min-width: 768px) and (max-width: 1024px) {

  .three-column-grid{
    @include flex-wrap(wrap);
  
    .profile-wrapper{
      @include flex(2);
    }

    .proposals{
      @include flex(100%);
    }

    .politics{
      @include flex(1);
    }

  }

  .profile-wrapper .block-content,
  .politics .block-content{
    height: 225px;
  }

}

/* Resolucao para tablets */
@media (min-width: 1024px) {

}